.main-section-header-container {
  display: flex;
  flex-direction: column;
  padding: 100px 0 20px;
  font-family: "Montserrat";
  position: relative;
  /* background-color:yellow; */

}
.main-section-header {
  font-style: normal;
  font-weight: 700;
  font-size: 3em;
  line-height: 60px;
  letter-spacing: 0.09em;
  padding: 0 100px 30px;
  color: #faf4fe;
  -webkit-animation: fadeIn 3s;
  animation: fadeIn 3s;
  /* transition: opacity 1000ms ease-in; */
}
.main-section-header-button {
  padding-left: 100px;
}
.main-section-header-button a {
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  background: #faf4fe;
  border-radius: 40px;
  color: var(--black);
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.09em;

  transition: all 0.4s ease-in-out;
  box-shadow: inset 0 0 0 0.09px black;
}
.main-section-header-button a:hover {
  color: var(--white);
  /* animation: mymove 2s;
  animation-fill-mode: forwards; */
  /* color: var(--light-purple); */
  box-shadow: inset 250px 0 0 0 var(--light-purple);
  transform: scale(1.1);
}
@keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: 0px;
    background-color: var(--light-purple);
    color: var(--white);
  }
}
.main-section-header-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 100px 50px;
  gap: 200px;
}
.main-section-header-content {
  flex: 70%;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  -webkit-animation: fadeIn 3s;
  animation: fadeIn 3s;

  color: #faf4fe;
}
.main-section-header-image {
  flex: 30%;
  -webkit-animation: fadeIn 3s;
  animation: fadeIn 3s;
}

@media (max-width: 1400px) {
  .main-section-header-description {
    padding: 20px 100px 20px;
    gap: 20px;
  }
  .main-section-header-content {
    flex: 90%;
    font-size: 18px;
    line-height: 25px;
  }
  .main-section-header-image {
    flex: 10%;
  }
  .main-section-header-image img {
    max-width: 200px;
  }
}

/* Mobile View */

@media (max-width: 450px) {
  .main-section-header-container {
    padding: 100px 0;
    /* background-color: blue; */
  }
  .main-section-header {
    font-size: 26px;
    line-height: 45px;
    padding: 0 20px;
    color: #faf4fe;
  }
  .main-section-header-button {
    padding-left: 20px;
  }
  .main-section-header-button a {
    margin-top: 20px;
    padding: 10px;
    background: #faf4fe;
    border-radius: 40px;
    color: var(--black);
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.09em;
  }
  .main-section-header-description {
    flex-direction: column;
    align-items: center;
    justify-content: left;
    padding: 50px 20px;
    position: relative;
    /* gap: 400px; */
  }
  .main-section-header-content {
    /* order: 0; */
    font-size: 16px;
    line-height: 25px;

    color: #faf4fe;
    z-index: 99;
  }

  .main-section-header-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.4;
  }
}
