.background-main-color-services {
    background: hsla(272, 100%, 22%, 1);

background: linear-gradient(-5deg, hsla(272, 100%, 22%, 1) 0%, hsla(0, 0%, 0%, 1) 38%);

background: -moz-linear-gradient(-5deg, hsla(272, 100%, 22%, 1) 0%, hsla(0, 0%, 0%, 1) 38%);

background: -webkit-linear-gradient(-5deg, hsla(272, 100%, 22%, 1) 0%, hsla(0, 0%, 0%, 1) 38%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#3C0071", endColorstr="#000000", GradientType=1 );
}
