.hover-image img {
  width: 20%;
}

.hover-image img:hover {
  animation: mymove2 2s;
  animation-fill-mode: forwards;
}
@keyframes mymove2 {
  from {
    top: 0px;
    /* border: var(--white) 2px; */
    border-radius: 50%;
  }
  to {
    top: 0px;
    /* background-color: var(--light-purple); */
    background-image: url("https://res.cloudinary.com/midefulness/image/upload/v1678118944/WASISCO/mainSection/readmore-text_oaf8mq.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
    color: var(--black);
    /* background-color: #cccccc; */
    border-radius: 50%;
    /* border: 2px solid var(--white); */
    /* width: 18%; */
  }
}

@media (max-width: 450px) {
  .hover-image img {
    width: 50%;
  }
}