.app {
  overflow-x: hidden;
}

section {
  height: 100vh;
  /* display: flex; */
  scroll-snap-align: start;
}

section > div {
  scroll-snap-type: y mandatory;
  /* overflow-y: scroll; */
  /* height: 100vh; */
}

.background-main-color {
  background-color: var(--black);
  /* height: 100vh; */
  /* width: 100vw; */
}
.background-main-color-with-height {
  background-color: var(--black);
  height: 100vh;
}

.our-team-background {
  height: 100vh;
  background: hsla(0, 0%, 0%, 1);

  background: radial-gradient(
    circle,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(301, 52%, 37%, 1) 0%,
    hsla(0, 0%, 0%, 1) 38%
  );

  background: -moz-radial-gradient(
    circle,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(301, 52%, 37%, 1) 0%,
    hsla(0, 0%, 0%, 1) 38%
  );

  background: -webkit-radial-gradient(
    circle,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(301, 52%, 37%, 1) 0%,
    hsla(0, 0%, 0%, 1) 38%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#902E8E", GradientType=1 );
}

.main-section-camera-3d {
  background: hsla(0, 0%, 0%, 1);

  background: linear-gradient(
    45deg,
    hsla(0, 0%, 0%, 1) 83%,
    hsla(302, 52%, 37%, 1) 100%
  );

  background: -moz-linear-gradient(
    45deg,
    hsla(0, 0%, 0%, 1) 83%,
    hsla(302, 52%, 37%, 1) 100%
  );

  background: -webkit-linear-gradient(
    45deg,
    hsla(0, 0%, 0%, 1) 83%,
    hsla(302, 52%, 37%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#912E8E", GradientType=1 );
}

/* .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: HelveticaNeueCyr;
  font-weight: 400;
  line-height: 100%;
}

@media (max-width: 899px) and (min-width: 350px) {
.h1, h1 {
    font-size: 2.25rem;
}
} */

.circle {
  height: 24px;
  width: 24px;
  border-radius: 24px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 99999999; /* so that it stays on top of all other elements */
}
